@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/app.component.scss";

html, body {
  font-family: sans-serif, Arial;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
